.App {
  font-family: sans-serif;
  text-align: center;
  width: 720px;
  margin: 0 0 0 25%;
}
button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 15px;
}
svg {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}
